# Server
PORT_SERVER=8080

# Database (MongoDB)
DATABASE_HOST=db
PORT_DB=27017
DATABASE_NAME=meubanco
DATABASE_USER=user
DATABASE_PASSWORD=pasword

# URL de conexão montada para o Node.js
MONGO_URL=mongodb://db:27017/meubanco